
# Created by https://www.gitignore.io/api/netbeans,java

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#word
*.docx

#solution
solution/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/demo/deployment/DeployJPAtest/target/
/demo/day1/JPAdemo/JPAdemo/nbproject/
/demo/day1/JPAdemo/JPAdemo/target/
/demo/day2/JPARelationshipDemo/target/
/demo/day2/JPARelationshipDemo/nbproject/
exercises/training-single-table-strategy-jpa/.idea/.name

exercises/training-single-table-strategy-jpa/.idea/compiler.xml

exercises/training-single-table-strategy-jpa/.idea/misc.xml

exercises/training-single-table-strategy-jpa/.idea/modules.xml

exercises/training-single-table-strategy-jpa/.idea/vcs.xml

exercises/training-single-table-strategy-jpa/.idea/workspace.xml

exercises/training-single-table-strategy-jpa/training-single-table-strategy-jpa.iml
